@using Web_TMDT.Models
@model User

@{
    ViewBag.Title = "SuaUser";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<div class="Noidung">
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="tt">Thông Tin Cá Nhân</h2>
    </div>
    @using (Html.BeginForm("SuaUser", "Users", FormMethod.Post))
    {

    <div class="cc">
        <table class="sua">
            <tr>
                <td class="la" width="200">
                    <label>Tên User: </label>
                </td>
                <td>
                    <input type="text" name="ten" value="@Model.UserName" required="required">
                </td>
            </tr>
            <tr>
                <td class="la" width="200">
                    <label>Địa Chỉ: </label>
                </td>
                <td>
                    <input type="text" name="diachi" value="@Model.DiaChi" required="required">

                </td>
            </tr>
            <tr>
                <td class="la" width="200">
                    <label>Email: </label>
                </td>
                <td>
                    <input type="email" name="mail" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" value="@Model.Mail " required="required">
                </td>
            </tr>
            <tr>
                <td class="la" width="200">
                    <label>Số Điện Thoại: </label>
                </td>

                <td>

                    <input type="text" name="sdt" onkeypress="return keyPhone(event);" size="10" maxlength="11" onkeyup="this.value = minmax(this.value, 10, 11)" value="@Model.SoDienThoai" pattern="^-*0+\d{9,10}" required="required">
                </td>

            </tr>
        </table>
    </div>
        <script>
            function keyPhone(e) {
                var keyword = null;
                if (window.event) {
                    keyword = window.event.keyCode;
                } else {
                    keyword = e.which; //NON IE;
                }

                if (keyword < 48 || keyword > 57) {
                    if (keyword == 48 || keyword == 127) {
                        return;
                    }
                    return false;
                }
            }

        </script>


        <div class="bt">
            @*<input class="button-submit" type="submit" value="Cập Nhật" />*@
            <button class="button-submit">Cập Nhật</button>
        </div>
    }
</div>
<style>
    .ii {
        height: 50px;
    }
    .cc {
        margin-top: 20px;
    }
    #aaa {
        background-color: #14a19a;
        height: 55px;

    }
    .Noidung{
        margin-left: 165px;
        width: 500px;
        background-color: #ffffff;
        margin-bottom: 20px;
        margin-top: -40px;
    }
    .la{
        margin-left: 20px;
    }

     .sua input {
        height: 0px;
        width: 270px;
        background: #f6f6f6;
        border: 0;
        font-family: "Open Sans", helvetica, arial, sans-serif;
        padding: 1em 1.3em;
        margin: 3px;
        margin-left: -45px;
        font-weight: 100;
        font-size: 1em;
    }
    .sua input{
        height:10px;
    }
    .long{
        width:200px;
    }
    .mmm{
        color: red;
        
    }
    .tt {
        margin-left: 17px;
        margin-bottom: 20px;
        margin-top: -40px;
        color: white;
    }
    .bt button {
        margin-left: 155px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>
