@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div id="index">
    <div class="chu">
        <br />
        <h2>Trang Admin BachLongMobile</h2>
        @if (Session["admin"] != null || Session["NguoiBan"] != null)
        {
            <label>Xin chào @Session["admin"] đã tham gia vào hệ thống!!!</label>
            <label>Chúc bạn một ngày làm việc vui vẻ!!!</label>
            <br />
            <br />
            <h3>@Html.ActionLink("Thoát khỏi hệ thống", "Logout", null, htmlAttributes: new { @class = "Admins" })</h3>
        }
        else
        {
            <h2>Để có thể tham gia vào hệ thống...mời bạn đăng nhập!!!</h2>
            <br />
            <h3><a href="~/Admin/Dangnhap">Đăng Nhập</a></h3>

        }
    </div>
    <div class="anh2">
        <img src="~/Hinh/admi.png" />
    </div>
    <div class="anh1">
        <img src="~/Hinh/am.png" />
    </div>
</div>

<style>
    div#index {
        margin-left: -30px;
        width: 1200px;
        background-image: url('../../Hinh/bgam1.jpg');
    }

    .chu {
        margin-left: 5%;
        width: 500px;
        color: black;
    }

    .anh1 img {
        margin-left: 500px;
        width: 550px;
        height: 400px;
        margin-top: -80px;
        margin-bottom: 15px;
    }

    .anh2 img {
        margin-left: 530px;
        width: 500px;
        height: 200px;
        margin-top: -330px;
    }

    .chu a:hover {
        color: red;
    }

    .nd {
        margin-top: 20px;
        margin-left: 20px;
    }

    .ii {
        height: 1px;
    }

    #aaa {
        background-color: #14a19a;
        height: 40px;
    }

    .td {
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        color: #ffffff;
    }

    .bt button {
        margin-left: 120px;
        width: 120px;
        height: 45px;
        background-color: #14a19a;
        margin-top: 15px;
        color: white;
        margin-bottom: 15px;
    }

    .Noidung {
        /*margin-left: 185px;*/
        width: 400px;
        background-color: #e6e6e6;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .tb {
        margin-left: 3%;
        color: red;
    }

    .tk {
        margin-left: 1%;
    }

    .mk {
        margin-left: 1%;
    }

    .tk input {
        width: 230px;
        height: 45px;
        margin-left: 10px;
    }

    .mk input {
        width: 230px;
        height: 45px;
        margin-left: 45px;
    }
</style>
