
@{
    ViewBag.Title = "MK";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<div class="Noidung">
    <h2>Đổi Mật Khẩu</h2>

    @using (Html.BeginForm("MK", "Users", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <div class="col-md-2">
                <label>Nhập Mật Khẩu (Cũ):</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="password" name="pass" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Nhập Mật Khẩu (Mới):</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" type="password" name="pass1" id="pass" required />
            </div>
        </div>
                
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="button-submit btn-1" onclick="return thong_bao();">Cập Nhật</button>
            </div>    
        </div>
    }
</div>
<script>
    function thong_bao() {
        var c = document.getElementById('pass').value;

        if (c.length < 6 || c.length > 20) {
            alert("Mật khẩu phải có độ dài từ 6 - 20 kí tự!");
            return false;
        }

        return true;
    }
</script>


