@using Web_TMDT.Models
@model User

@{
    ViewBag.Title = "SuaUser";
    Layout = "~/Views/LayOut/LayOutNguoiDung.cshtml";
}
<div class="Noidung">
    <h2 class="tt">Thông Tin Cá Nhân</h2>
    @using (Html.BeginForm("SuaUser", "Users", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
    {
        
    <div class="form-group">
        <div class="col-md-2">
            <label>Tên User: </label>
        </div>
        <div class="col-md-10">
            <input class="form-control" type="text" name="ten" value="@Model.UserName" required="required">
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-md-2">
            <label>Địa Chỉ: </label>
        </div>
        <div class="col-md-10">
            <input class="form-control" type="text" name="diachi" value="@Model.DiaChi" required="required">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Email: </label>
        </div>
        <div class="col-md-10">
            <input class="form-control" type="email" name="mail" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" value="@Model.Mail " required="required">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Số Điện Thoại: </label>
        </div>
        <div class="col-md-10">
            <input class="form-control" type="text" name="sdt" onkeypress="return keyPhone(event);" size="10" maxlength="11" onkeyup="this.value = minmax(this.value, 10, 11)" value="@Model.SoDienThoai" pattern="^-*0+\d{9,10}" required="required">
        </div>
    </div>
    <div class="form-group">
        @*<input class="button-submit" type="submit" value="Cập Nhật" />*@
        <div class="col-md-10 col-md-offset-2">
            <button class="button-submit btn-1">Cập Nhật</button>
        </div>
    </div>

        <script>
            function keyPhone(e) {
                var keyword = null;
                if (window.event) {
                    keyword = window.event.keyCode;
                } else {
                    keyword = e.which; //NON IE;
                }

                if (keyword < 48 || keyword > 57) {
                    if (keyword == 48 || keyword == 127) {
                        return;
                    }
                    return false;
                }
            }

        </script>


        
    }
</div>
