
#menungang{
    height:100px;
    background-color:#2e7c79;
}
.navbar-header
{
    height:100px;
}
.navbar-header img{
    height:60px;
    width:160px;
    margin-top:4%;
    margin-left:100px;
}
#theli{
 margin-top:120px;
 height:600px;
}
.sidebar-nav navbar-collapse{
    margin-top:300px;
}
.navbar-default sidebar{
    margin-top:200px;
}
.nav{
     margin-top:30px;
}
.noidung{
    background-color:#cbcac5;
    height:auto;
}