
    #buttontim button {
        width: 30px;
        height: 30px;
        padding: 0 0px 0 0px;
        margin-left: 18px;
        margin-top: 1.8%;
    }

    #buttontim img {
        width: 30px;
        height: 30px;
        background-color: #b7c6a0;
    }
    #txttimkiem {
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
        background-color:  #e0e6e1;
        height: 100px;
    }


     #txttimkiem input {
            background-color:rgb(255, 255, 255);
            border: 1px solid rgba(0,0,0,.5);
        }

    #tim {
        float: left;
    }
    #tim input {
        height: 32px;
        width:200px;
        margin-top: 16%;
        margin-left: 40%;
    }

  
    .day1 input {
        height: 32px;
        margin-top:32px;
        width: 200px;
    }
     .day1 {
        margin-left: 300px;
        width: 320px;
        margin-top: 16px;
        height: 32px;
    }
    .day2 input {
        height: 32px;
        width: 200px;
    }

    .day2 {
        margin-left: 580px;
        margin-top: 1px;
        width: 320px;
    }

   

    #buttontim {
        float: right;
        margin-right: 10%;
        margin-top: -25px;
    }

        #buttontim img {
            position: relative;
            top: -7px;
        }
