
@*@{
    ViewBag.Title = "TimCTDH";
    Layout = "~/Views/LayOut/TimChiTietDonHang.cshtml";
}*@
@using (Html.BeginForm("KQTimCTDH", "BaiDang"))
{
 
    
<div id="lb">
    <h3 class="tl">Tìm Tên Sản Phẩm:</h3>
</div>   
<div id="tim">    
    @Html.TextBox("txttimkiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập từ khoá cần tìm..." })
</div>
<div id="buttontim">
    <button type="submit"><img src="~/Hinh/search.png" /></button>
</div>
}
<style>
    .tl{
        float: left;
        margin-left: 10px;
        margin-top: 15px;
        width: 180px;
    }
    #tim input {
        height: 0;
        width: 240px;
        margin-left: 5px;
    }
    #buttontim {
        margin-left: 235px;
        margin-top: 20px;
    }

        #buttontim img {
            position: relative;
            /*top: -7px;*/
        }
</style>



