@using Web_TMDT.Models;
@model BaiDang
@{
    ViewBag.Title = "CapNhatSL";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div class="Noidung">
    @*<div class="form-horizontal">*@
    <div id="aaa">
        <div class="ii"></div>
        <h2 class="td">Cập Nhật Số Lượng</h2>
    </div>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("CapnhatSL", "Admin", FormMethod.Post))
    {
        <div class="body">
            <br />
            <div class="thongtin">
                <div class="form-group">
                    <label>Tên Sản Phẩm:  </label>
                    <div class="col-md-10"><input type="text" name="tensp" value="@Model.TenSP "></div>
                </div>
                <div class="form-group">
                    <label>Thêm Số Lượng:  </label>
                    <div class="col-md-10">
                        <input type="text" name="slthem">
                    </div>
                </div>
                @*<div class="form-group">
                    <label> Số Lượng Thêm:  </label>
                    <div class="col-md-10">
                        <input type="text" name="slthem" id="slthem" onkeyup="func(this.value);">
                    </div>
                </div>*@
                   @*<div class="form-group">
                        <label> Số Lượng Đăng:  </label>
                        <div class="col-md-10">
                            <input type="text" name="sldang" id="sldang" value="@Model.SoLuong" readonly="readonly" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Số Lượng Tồn:  </label>
                        <div class="col-md-10">
                            <input type="text" name="slton" id="slton" value="@Model.Soluongton" readonly="readonly" disabled>
                        </div>
                    </div>

                <script>
                    function func(a) {
                        if (isNaN(a)) {
                            document.getElementById('slthem').value = a.slice(0, -1);
                            alert("Định dạng không đúng!");
                            return false;

                        }
                        else if (a == "") {
                            document.getElementById('slthem').value = "";
                            alert("Chưa nhập số lượng! ");
                            return false;
                        }
                        //else if (a == 0) {
                        //    document.getElementById('slthem').value = "";
                        //    alert("Định dạng không bắt đầu từ 0!");
                        //    return false;
                        //}
                        else {
                            document.getElementById('slton').value = Number(document.getElementById('slton').value) + Number(a);
                            document.getElementById('sldang').value = Number(document.getElementById('sldang').value) + Number(a);
                        }
                    }
                </script>*@

                <br />
                <div>
                    <div class="bt">
                        <button class="button-submit"><h4>Cập Nhật</h4></button>
                    </div>
                </div>


            </div>
        </div>
    }
</div>
<style>
    .hinh {
        margin-left: 25px;
    }

    .col-md-10 input {
        height: 30px;
        width: 240px;
        background: #f6f6f6;
        border: 0;
        font-family: "Open Sans", helvetica, arial, sans-serif;
        margin-top: -15px;
        margin-left: 180px;
        font-weight: 100;
        font-size: 1em;
        padding: 1em 1.3em;
    }

    .col-md-10 {
        margin-top: -20px;
    }

    .lbcn {
        margin-left: 0px;
        width: 500px;
    }

    .ii {
        height: 5px;
    }

    #aaa {
        background-color: #14a19a;
        height: 55px;
    }

    .td {
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        color: #ffffff;
    }

    .Noidung {
        margin-left: 245px;
        width: 540px;
        background-color: #fafef7;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .bt button {
        margin-bottom: 35px;
        color: white;
        height: 65px;
        margin-left: 15px;
    }

    .ttct {
        background-color: #dfe1e1;
        height: 400px;
    }

    .anh img {
        margin-top: 10px;
        height: 300px;
        width: 300px;
        margin-left: 3%;
    }

    .thongtin {
        margin-left: 40px;
        margin-top: 15px;
    }
</style>
