@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div id="index">
    <div class="chu">
        
        @*<a href="~/Admin/Dangnhap">Đăng Nhập</a>*@

        
        <div class="login">
            
            <h3 class="title col-md-offset-2">Đăng Nhập</h3>
            @using (Html.BeginForm("Dangnhap", "Admin", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
            {

                <div class="form-group">
                    <div class="text-danger col-md-8 col-md-offset-2">@ViewBag.thongbao</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Tên Tài Khoản: </label>
                    <div class ="col-md-8">
                        <input type="text" name="ten" class="form-control" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-2">Mật Khẩu: </label>
                    <div class="col-md-8">
                        <input type="password" name="pass" class="form-control" required />
                    </div>
                </div>
                <div class="form-group form-action">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="button-submit btn-1">Đăng Nhập</button>
                    </div>
                </div>
            
            }
        </div>
    </div>
</div>
