@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/LayoutAdmin.cshtml";
}
<div id="index">
    <div class="login">
        <div class="image">
            <img src="~/Hinh/admi.png" />
        </div>
        @if (Session["admin"] != null || Session["NguoiBan"] != null)
        {
            <label>Xin chào @Session["admin"] đã tham gia vào hệ thống!!!</label>
            <label>Chúc bạn một ngày làm việc vui vẻ!!!</label>
            <h3>@Html.ActionLink("Thoát khỏi hệ thống", "Logout", null, htmlAttributes: new { @class = "Admins" })</h3>
        }
        else
        {
            <h2>Để có thể tham gia vào hệ thống...mời bạn đăng nhập!!!</h2>
            <h3><a href="~/Admin/Dangnhap">Đăng Nhập</a></h3>
        }
    </div>
    
</div>

