@using Web_TMDT.Models;
@model List<LoaiSanPham>
<div class="sidebar" role="navigation">
    <div class="sidebar-nav">
        <h2>Hãng sản xuất</h2>
        <div class="content">
            <ul class="nav" id="side-menu">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="@Url.Action("SPtheo_loai", new { @maloai=item.MaLoai})">@item.TenLoai</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

