@using (Html.BeginForm("KQTimDH", "BaiDang"))
{
    
<div class="timTT">
    <h5 class="qq">Tìm Ngày Lập Hóa Đơn:</h5>
</div>
<div class="day1"><input type="date" name="tungay" value="----Chọn Thời gian Bắt đầu------"  /></div>
<div class="day2"><input type="date" name="denngay" value="----Chọn Thời Gian Kết Thúc-----" /></div>

<div id="buttontim">
    <button type="submit"><img src="~/Hinh/search.png" /></button>
</div>
}
